* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: white;
  --secondary:#001f30;
  --grey-bg: #f9f9f9;
  --dark-text:#002b2c;
  --light-text: #FFFFFF;
  --grey-text:#aeaeae;
  --highlight:#58e3e1;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}
.btn-primary {
  background-color: var(--primary);
  color: var(--dark-text);
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.btn-primary:hover {
  background-color: var(--highlight);
  transform: scale(1.05);
}
