.testimonials-section {
  padding: 80px 20px;
  background: var(--grey-bg);
  overflow: hidden;
  color:var(--secondary);
}

.container {
  max-width: 1200px;
  /* margin: auto; */
  text-align: center;
}

.section-title {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.section-subtitle {
  opacity: 0.7;
  margin-bottom: 50px;
}

.testimonial-wrapper {
  overflow: hidden;
  position: relative;
}

.testimonial-track {
  display: flex;
  gap: 30px;
  transition: transform 0.8s ease-in-out;
}

.testimonial-wrapper:hover .testimonial-track {
  animation-play-state: paused;
}

/* Portrait Card */
.testimonial-card {
  min-width: 280px;
  max-width: 350px;
  height: 420px;
  background: var(--secondary);
  color:var(--primary);
  padding: 25px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  flex-shrink: 0;
  transition: transform 0.1s ease;
  border-top:5px solid rgb(0, 247, 255);
}

.testimonial-card:hover {
  transform: translateY(-8px);
}

.testimonial-header {
  text-align: center;
  width:100%;
}

.testimonial-header img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 15px;
  object-fit: cover;
  display: block;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.testimonial-name {
  font-weight: 600;
  font-size: 1.1rem;
}

.testimonial-role {
  font-size: 0.85rem;
  opacity: 0.7;
}

.stars {
  color: #ffc107;
  margin-bottom: 15px;
  font-size: 40px;
}

.testimonial-text {
  font-size: 0.95rem;
  line-height: 1.6;
  flex-grow: 1;
}

.testimonial-dots {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.testimonial-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #444;
  cursor: pointer;
  transition: all 0.3s ease;
}

.testimonial-dot.active {
  background: rgb(0, 247, 255);
  transform: scale(1.3);
}


@keyframes scrollLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@media (max-width: 768px) {
  .testimonial-card {
    min-width: 240px;
    height: 380px;
  }
}
